html {
  height: 100%;
}

body {
  height: calc(100% - 20px);
  background-image: url(/image/DarkSnk.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: fill;
  margin: 10px;
}
#darkLight {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

#snk,
#berserk {
  border-radius: 25%;
  font-size: 30px;
}

#leCalcul {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  padding: 10px;
  border-radius: 5%;
}
#operation,
#resultat {
  font-size: 50px;
}

#backUp {
  display: flex;
  justify-content: space-between;
}

#listButton {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 5px;
}

.line {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button {
  text-align: center;
  height: 75px;
  width: 75px;
  border-radius: 25%;
  background-color: white;
  font-size: 50px;
  opacity: 0.9;
}

#history,
#enlarge,
#snk,
#berserk {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 25%;
  background-color: white;
  font-size: 30px;
  height: 50px;
  width: 50px;
}
